{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../scripts/search-page.js" defer> </script>
    <title>Results</title>
  </head>
  <body>
    <li><a href="../static/recipes/baked-shrimp.html">Baked Shrimp</a></li>
    <li><a href="../static/recipes/chicken-fajitas.html">Chicken Fajitas</a></li>
    <li><a href="../static/recipes/garlic-sausage-asparagus">Garlic Sausage Asparagus</a></li>
    <li><a href="../static/recipes/lemon-chicken-potatoes">Lemon Chicken Potatoes</a></li>
    <li><a href="../static/recipes/shrimp-corn-boil">Shrimp Corn Boil</a></li>
    <li><a href="../static/recipes/sweet-potato-tacos.html">Sweet Potato Tacos</a></li>
    <li><a href="../static/recipes/tower-of-smores.html">Tower of Smores</a></li>
  </body>
</html>